@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}

.box {
  margin: 15px;
  margin-top: 40px;
}
.head {
  display: inline-block;
  padding: 0px 12px;
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
  margin-left: 30px;
  letter-spacing: 5px;
  font-size: 11px;
}

.heading {
  padding: 0px 12px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}
.cards {
  display: contents;
}

.card {
  margin: 10px;
  position: relative;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
}

.card__image {
  width: 100%;
  min-height: 300px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* border-radius: calc(var(--curve) * 1px); */
  background-color: #22223b;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  padding: 2em;
  background-color: #22223b;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 76px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: #22223b;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__title {
  font-size: 1rem;
  margin: -10px 0 0.3em;
  color: #fff;
}

.card__status {
  font-size: 0.8em;
  color: #fff;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #fff;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
